<%- include("../include/head.ejs")%>
<link rel="stylesheet"
      href="//cdnjs.cloudflare.com/ajax/libs/highlight.js/11.7.0/styles/default.min.css">


  </head>
  <body>
    <div class="main-div">
      <!------- sidebar ----------------------------->

      <%- include("../include/sidebar.ejs") %>

      <!-- sidebar close -->

      <!----- nav bar  -->
      <%- include("../include/navbar.ejs") %>

      <!--- nav bar close   -->
      <!-- chat area -->
      <%- include("../include/chat-area.ejs") %>
      <!-- CHAT AREA CLOSE -->
    </div>
    <script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/11.7.0/highlight.min.js"></script>
    <script>hljs.highlightAll();</script>
    <%- include("../include/footer.ejs")  %>
