<%- include("../include/head.ejs")%>
  </head>
  <body>
    <div class="main-div">
      <!------- sidebar ----------------------------->

      <%- include("../include/sidebar.ejs") %>

      <!-- sidebar close -->

      <!----- nav bar  -->
      <%- include("../include/navbar.ejs") %>

      <!--- nav bar close   -->
      <!-- chat area -->
      <%- include("../include/chat-area.ejs") %>
      <!-- CHAT AREA CLOSE -->
    </div>
    <%- include("../include/footer.ejs")  %>
