<%- include("../include/head.ejs")  %>
</head>
<body>
<div class="main-div">
      <!------- sidebar ----------------------------->

      <%- include("../include/sidebar.ejs") %>

      <!-- sidebar close -->

      <!----- nav bar  -->
      <%- include("../include/navbar.ejs") %>

      <!--- nav bar close   -->
      <!-- image area -->
      <%- include("../include/image-area.ejs") %>
      <!-- image area close -->
    </div>
<%- include("../include/footer.ejs") %>